In [1]:
import pandas as pd

In [4]:
df=pd.read_csv("City_Data_Output.csv")
df.head()

,Unnamed: 0,City,Id,country,lat,lng,Cloudiness,humidity,temperature,wind_speed
0,0,Bengkulu,1649150,ID,-3.8004,102.2655,82,90,73.33,2.75
1,1,Saint-Philippe,935215,RE,-21.3585,55.7679,4,71,63.14,7.27
2,2,Punta Arenas,3874787,CL,-53.1500,-70.9167,90,87,42.91,17.27
3,3,Luanda,2240449,AO,-8.8368,13.2343,20,78,71.60,6.91
4,4,Natick,4944994,US,42.2834,-71.3495,6,78,64.08,4.45

In [6]:
df.to_html("data.html")